.appContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.chatWindowContainer {
	display: flex;
	flex-direction: column;
	width: 90vw;
	gap: 1rem;
	margin: 25px;
    
}
