.appContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.chatWindowContainer {
	display: flex;
	flex-direction: column;
	width: 90vw;
	gap: 1rem;
	margin: 25px;
	margin-top: 35vh;
	z-index: 0;
}

.pathContainer {
	position: fixed;
	top: 0;
	z-index: 1;
	border: 2px solid black;
	background-color: white;
	height: fit-content;
	padding: 5px;
}
